<h1>Rewroute App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Rewroute App! We hope you'll enjoy using our service. Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>