<% provide(:title, "About") %>
<section>
<div class="container">
<h1>About</h1>
<p>
  We're a small team always working on improving and adding features to the site. Don't hesitate to contact us if you need to.
</p>
</div>
</section>