<% provide(:title, 'Contact') %>
<section>
<div class="container">
<h1>Contact</h1>
<p>
  Contact the support here: <a href="mail@rewroute.com">mail@rewroute.com</a>.
</p>

<p>
We'd be glad to hear your feedback and glad to help you to the best of our ability.
</p>

</div>
</section>