<% provide(:title, "Help") %>
<section>
<div class="container">
<h1>Help</h1>
<p>
  If you need any help or more information on how to use Rewroute make sure to look at the <a href="http://blog.rewroute.com">blog</a> or contact us <a href="mail@rewroute.com">mail@rewroute.com</a>.

</p>
</div>
</section>